<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="libs/bootstrap/dist/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="css/main.css"></link>
</head>
<body>
	<div th:include="../fragments/navigation :: navigation">...</div>

	<div class="container">
		<h1>Hello World!!</h1>
	</div>
	
	<script src="libs/jquery/dist/jquery.min.js"></script>
	<script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="libs/Matter/build/matter.min.js"></script>
	
	<script>
	
	// module aliases
	var Engine = Matter.Engine,
	    Render = Matter.Render,
	    World = Matter.World,
	    Bodies = Matter.Bodies;

	// create an engine
	var engine = Engine.create();

	// create a renderer
	var render = Render.create({
	    element: document.body,
	    engine: engine
	});

	// create two boxes and a ground
	var boxA = Bodies.circle(200, 200, 30);
	var ground = Bodies.rectangle(400, 610, 810, 60, { isStatic: true });

	// add all of the bodies to the world
	World.add(engine.world, [boxA, ground]);

	// run the engine
	Engine.run(engine);

	// run the renderer
	Render.run(render);
	
        var ws = new WebSocket("wss://ws.blockchain.info/inv");
		
        ws.onopen = function()
        {
           console.log("Message is sent...");
           ws.send('{"op":"unconfirmed_sub"}');
        };
			
        ws.onmessage = function (evt) 
        { 
           var received_msg = evt.data;
           
           var data = JSON.parse(evt.data);
           
	   	   console.log("In here!!" + data.x.inputs[0].prev_out.value/100000000 * 10)
		   var boxC = Bodies.circle(200, 200, data.x.inputs[0].prev_out.value/100000000 * 10);
		   World.addBody(engine.world, boxC); 
        };
        
        ws.onclose = function()
        { 
           // websocket is closed.
           console.log("Connection is closed..."); 
        };
		
	</script>
</body>
</html>